.DS_Store
node_modules/
npm-debug.log
.idea
dist
yarn.lock
backend/node_modules/
frontend/node_modules/
frontend/dist/
backend/yarn.lock
frontend/yarn.lock
/backend/yarn-error.log
/frontend/yarn-error.log
frontend/static/data.txt
frontend/static/data.js
/frontend/static/run.sh
